<div class="container mb-5 text-info" id="ranking-container">
    <h1>My Rankings</h1>

    <%# if user_signed_in? %>
        <%# if current_user.admin || current_user.blogger %>
          <%= simple_form_for @ranking do |f| %>
            <%= f.label :weekly_data, "Publish here:"%>
            <%= f.input :weekly_data, as: :string, label: false, placeholder: "Update here weekly rankings" %>
            <%= f.submit "Publish" %>
          <% end %>
      <%# end %>
    <%# end %>

    <div>
    <%= @ranking.weekly_data.try(:html_safe) %>
    </div>
</div>












