<%= simple_form_for @blog do |f| %>
  <%= f.input :title %>
  <%= f.input :subject %>
  <%= f.input :body, as: :text %>
  <%= f.input :photo, as: :file %>
  <div class="d-flex">
    <%= f.submit "submit", class:'btn btn-danger w-100' %>
  </div>
<% end %>