<div class="p-2 p-lg-5 p-md-3 p-sm-3 blog-list">
  <div class="row">
    <%# left side %>
    <div class="col-sm-12 col-md-8">
      <% @blogs.each do |blog| %>
        <div class="d-flex border-bottom border-dark py-3 align-items-center">
          <%= cl_image_tag blog.photo.key, class:'img-index-card' %>
          <div class="post-details pl-3">
            <div class="upper-title">
              <p class="py-0 m-0 pr-1"><small class="text-secondary"><strong><%= blog.subject.upcase %> </strong><%= time_ago_in_words(blog.created_at) %> ago</small></p>
            </div>
            <h5><strong><%= blog.title %></strong></h5>
            <p class="body-index-card"><%= truncate(blog.body, length: 120) %><%= link_to 'Read more', blog_path(blog), class:"text-secondary" %></p>
          </div>
        </div>
      <% end %>
    </div>
    <%# right side %>
    <div class="col-sm-12 col-md-4 mb-3">
    <div class="sticky-col">
    <h5 class="border-bottom border-secondary title-recent"><span class="text-secondary">RECENT POST</span></h5>
      <% @latest_blogs.each do |blog| %>
        <div class="my-5 my-sm-3 align-items-center">
          <div class="post-details pl-3">
            <div class="upper-title">
             <p class="py-0 m-0 pr-1"><small class="text-secondary"><strong><%= blog.subject.upcase %> </strong><%= time_ago_in_words(blog.created_at) %> ago</small></p>
            </div>
            <h5><strong><%= blog.title %></strong></h5>
            <p class="body-index-card mb-5"><%= truncate(blog.body, length: 80) %><%= link_to 'Read more', blog_path(blog), class:"text-secondary" %></p>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
