<div class="login-bg d-flex justify-content-center align-items-center">
  <div class="login-wrapper col-sm-8ยง">
    <h2 class="text-center text-white">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-label">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-fields" %>
      </div>

      <div class="form-label">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "login-fields" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-label">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-danger mb-3 w-100" %>
      </div>
    <% end %>

    <div class="login-shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
